
.card-list {
   list-style: none;
   padding: 0;
   margin: 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
    justify-content: center;
   /* border:1px solid red;  */
 }
 
 .no-data {
   text-align: center;
   font-size: 18px;
   color: red;
 }
 
 @media screen and (max-width: 1024px) {
   .card-list {
     grid-template-columns: repeat(2, 1fr);
   }
 }
 
 @media screen and (max-width: 800px) {
   .card-list {
     grid-template-columns: 1fr;
   }
 }